body {
color : #333;
background-color : #fff;
font-family : /*'Open Sans',*/ sans-serif;
font-size : 12px;
font-weight : 400;
margin : 0;
line-height: 140%;
}
.person_box, .action_header {
    background-color: #DDDDFF;
}
.person_boxF, .action_headerF {
background-color : #FFFFD6; /* pův. #fdd */
}
li.jpcolors {background:url(odkaz-na-wiki.png) no-repeat 50% 50%}
li.jpdemoikona {background:url(ikona-demo-1m.jpg) no-repeat 50% 50%}

/*
Interaktivní strom:
*/
#tv_tree .tvF{
	background-color:#FFFFD6 !important;
}
/*
 * Modul Vytux_pages: - úprava css
*/
div#pages-container {width:80% !important;}
div#outer_pages_container {padding-left: 3% !important;padding-right: 3% !important;}
div#pages-container .ui-tabs-nav li {margin: 3px; padding: 4px; font-weight: bold;}

/*
// Modul vytux_pages - stránka Terminologie:
*/
table#definice td {
	vertical-align: top;
	padding-left: 5px;
	padding-right: 16px;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
	}
	
table#definice {
	border-top: 1px dotted;
	border-right: 1px dotted;
	}
	
table#definice .col-1-def {
	}
	
table#definice .col-2-def {
        width: 20%;
        background-color: #eee;    
        }        
.def-obsah {
        margin-left: 70%;
        border: 1px solid;
        padding: 6px;
        background-color: #eee;
        }
table#kdo-je-kdo {
	border: 1px dotted;
        width: 70%;
        margin-right: 30%;
	}
table#kdo-je-kdo td {
	vertical-align: top;
	padding-left: 5px;
	padding-right: 16px;
	}
table#kdo-je-kdo .col-1-kdo {
        width: 50%;
        }
/*
 * Modul vytux_gallery3 - navigační lišta:
*/
div#gallery-page .ui-tabs-nav li {margin: 3px; padding: 4px; font-weight: bold;}
/*
 * Modul vytux_gallery3 - barvy pozadí a posuvníků:
*/
.galleria-theme-classic {
    background: #F4EAD5;  /* JP */
}
.galleria-theme-classic .galleria-image-nav-left,
.galleria-theme-classic .galleria-image-nav-right {
    background-color: #dfc286; /* JP */
}
.galleria-theme-classic .galleria-thumb-nav-left,
.galleria-theme-classic .galleria-thumb-nav-right {
    background-color: #dfc286; /* JP */
}

#obrazek-odkazy {margin-right: 40px; margin-bottom: 16px;}

/* Centrované menu (vzhled jako u šablony webtrees) ------------------------*/
/* nyní je zamaskované
.secondary-menu ul,
.primary-menu ul {
    z-index: 210
}
.primary-menu {
    display: table;
    margin: 0 auto;
    height: 80px;
    width: auto;
}
.primary-menu li {
    float: left;
    position: relative
}
.primary-menu li li:first-child {
	margin-top: 0px;
}
.primary-menu li:hover>ul {
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 0;
    left: 100%;
    right: auto;
    margin-top: 0
}
.primary-menu>li:hover>ul {
    left: 0;
    right: auto;
    top: 56px
}
.primary-menu a {
    display: table;
    white-space: nowrap;
    overflow: hidden
}
.primary-menu li a {
    display: block;
    margin: auto;
    padding-top: 22px;
    width: 100%
}
.primary-menu>li>a {   
    font-weight: normal;
    padding-top: 42px;
    max-width: 100px;
    white-space: normal;
    line-height: 1.2em;
    color: #fff
}
.primary-menu li li a {
    display: block;
    position: relative;
    float: left;
    font-size: 11px;
    line-height: 1.5;
    padding: 0 10px 1px 5px
}
.primary-menu>li {
    background-image: url(images/sprites-top-menu.png);
    background-repeat: no-repeat;
    min-width: 60px;
    width: auto;
    text-align: center;
    height: 40px;
    margin: 4px 9px 4px 7px;
    text-indent: 0
}
.primary-menu li ul li {
    background-image: url(images/sprites-sub-menu.png);
    background-repeat: no-repeat;
    height: 28px;
    left: auto;
    line-height: 20px;
    text-align: left;
    text-indent: 22px;
    width: 100%;
    margin-bottom: -8px;
    padding-top: 5px
}
.primary-menu>li>ul>li:first-child {    
    height: 0px;
    display: none;
}
[dir=rtl] .primary-menu li {
    float: right
}
[dir=rtl] .primary-menu li:hover>ul {
    right: 100%;
    left: auto
}
[dir=rtl] .primary-menu>li:hover>ul {
    left: auto;
    right: 0
}
[dir=rtl] .primary-menu li li {
    text-align: right
}
[dir=rtl] .primary-menu li li a {
    float: right;
    padding: 1px 5px 1px 10px
}
.primary-menu{
    background:#93724f  
}
header {
    height: 132px
}
header nav{
    clear: both;
    margin: 8px auto;
    position: relative;
    background:#93724f
}
*/
